body { background: #fff; }
a { text-decoration: none; }
.container { width: 600px; padding: 0; margin: 0 auto; }
header.main { background: #e96b4f; height: 40px; }
header.main .header-title { color: #fff; font-size: 18px; text-transform: uppercase; margin-top: 8px; margin-bottom: 0; }
header.main .header-title a { color: #fff; }
header.main .header-title a:hover,
header.main .header-title a:focus { color: #fff; text-decoration: none; }
header.main .menu-list { float: right; margin-top: 6px; }
header.main .menu-list li { border-right: 1px #fff solid; }
header.main .menu-list li:last-child { border-right: none; }
header.main .menu-list li.active a { color: #fff; }
header.main .menu-list a { color: #000; text-transform: uppercase; padding: 0 10px; font-size: 18px; }
header.main .menu-list a:hover,
header.main .menu-list a:focus { text-decoration: none; }
header.main .mobile-button { float: right; display: block; border: none; margin-top: 11px; background: 0 0; }
header.main .mobile-button span { background: #fff; width: 20px; height: 2px; display: block; margin-bottom: 3px; }
.board-main { height: 200px; margin-bottom: 30px; }
.board-leader { float: left; width: 310px; }
.board-leader .ngscroll-scrollbar-container { background: #807f81 !important; height: 4px !important; border-radius: 2px !important; left: 10px !important; right: 10px !important; width: auto !important; overflow: hidden; }
.board-leader .ngscroll-scrollbar-container .ngscroll-scrollbar { bottom: 1px !important; }
.board-game { float: left; width: 260px; }
.board-game .ngscroll-scrollbar-container { background: #807f81 !important; width: 4px !important; border-radius: 2px !important; }
.board-game .ngscroll-scrollbar-container .ngscroll-scrollbar { width: 2px !important; right: 1px !important; }
.controls { display: inline-block; height: auto; width: auto; margin: 0 auto; padding: 10px; }
.controls button:first-child { margin-right: 10px; }
.game-list,
.leader-list { width: 100%; height: 100%; overflow: hidden; }
.leader-list .item { float: left; position: relative; height: 200px; padding: 10px; width: 104px; }
.leader-list .item:hover,
.leader-list .item:focus { background: #e2e1e1; text-decoration: none; }
.leader-list .count { position: absolute; top: 10px; left: 10px; border: 1px #e96b4f solid; width: 30px; text-align: right; font-size: 18px; color: #e96b4f; }
.leader-list .avatar { border-radius: 100%; margin-top: 30px; }
.leader-list .star { position: absolute; top: 100px; left: 0; }
.leader-list .name { font-size: 14px; text-transform: uppercase; text-align: center; color: #000; }
.leader-list .score { color: #000; font-size: 18px; text-align: center; background: #70d7fd; }
.leader-list .score.winner { font-size: 20px; color: #e96b4f; }
.game-list { border-left: 1px #000 solid; }
.game-list a { display: block; color: #99999a; font-size: 18px; padding: 4px 17px; text-transform: uppercase; border-bottom: 1px #a2a1a3 solid; }
.game-list a:hover,
.game-list a:focus { color: #e56d48; text-decoration: none; }
@media all and (max-width:600px) {
 .container { width: 100%; }
 header.main { margin-bottom: 50px; }
 header.main .menu-list { margin-top: 0; top: 40px; float: none; position: absolute; left: 0; right: 0; width: 100%; border-bottom: 1px #e96b4f solid; }
 header.main .menu-list li { border-right-color: #99999a; }
 header.main .menu-list li.active a { color: #e96b4f; }
 header.main .menu-list a { color: #99999a; }
 .board-main { height: 500px; }
 .board-leader { width: 100%; }
 .board-leader .ngscroll-scrollbar-container { background: #807f81 !important; width: 4px !important; border-radius: 2px !important; height: 100% !important; left: auto !important; right: 0 !important; overflow: auto !important; }
 .board-leader .ngscroll-scrollbar-container .ngscroll-scrollbar { right: 1px !important; width: 2px !important; }
 .board-game { width: 100%; }
 .leader-list .item { width: 50%; }
 .game-list { border-left: none; }
 .mobile-non-relative { position: static !important; }
}
@media all and (min-width:600px) {
 .board-leader .ngscroll-scrollbar-container .ngscroll-scrollbar { height: 2px !important; }
}
@media all and (max-width:768px) {
 .leader-list .item { width: 100%; }
}
