body {
  background: #fff;
  // text-align: center;
}

a{
  text-decoration: none;
}

.container{
  width: 600px;
  padding: 0;
  margin: 0 auto;
  @media all and (max-width: 600px){
    width: 100%;
  }
}

header.main{
  background: #e96b4f;
  height: 40px;
  @media all and (max-width: 600px){
    margin-bottom: 50px;
  }
  .header-title{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 0;
    a{
      color: #fff;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .menu-list{
    float: right;
    margin-top:   6px;
    @media all and (max-width: 600px){
      margin-top: 0px;
      top: 40px;
      float: none;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      border-bottom: 1px #e96b4f solid;
    }

    li{
      border-right: 1px #fff solid;
      @media all and (max-width: 600px){
        border-right-color: #99999a;
      }
      &:last-child{
        border-right: none;
      }
      &.active{
        a{
          color: #fff;
          @media all and (max-width: 600px){
            color: #e96b4f;
          }
          // font-size: 18px;
        }
      }
    }
    a{
      color: #000;
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 18px;
      @media all and (max-width: 600px){
        color: #99999a;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
  .mobile-button{
    float: right;
    display: block;
    border: none;
    margin-top: 11px;
    background: transparent;
    span{
      background: #fff;
      width: 20px;
      height: 2px;
      display: block;
      margin-bottom: 3px;
    }
  }
}

.board-main {
  // width: 80%;
  height: 200px;
  margin-bottom: 30px;
  // margin: 50px auto;
  // background: #fff;
  // padding: 20px;
  // border-radius: 5px;
  // border: 1px solid #ccc;
  // box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  // text-align: left;
  // -moz-box-sizing: content-box;
  // box-sizing: content-box;
  @media all and (max-width: 600px){
    height: 500px;
  }
}

.board-leader{
  float: left;
  width: 310px;
  @media all and (max-width: 600px){
    width: 100%;
  }
  .ngscroll-scrollbar-container{
    background: #807f81 !important;
    height: 4px !important;
    border-radius: 2px !important;
    left: 10px !important;
    right: 10px !important;
    width: auto !important;
    overflow: hidden;
    .ngscroll-scrollbar{
      bottom: 1px !important;
      @media all and (min-width: 600px){
        height: 2px !important;
      }
    }
  }
  @media all and (max-width: 600px){
    .ngscroll-scrollbar-container{
      background: #807f81 !important;
        width: 4px !important;
        border-radius: 2px !important;
        height: 100% !important;
        left: auto !important;
        right: 0 !important;
        overflow: auto !important;
      .ngscroll-scrollbar{
        right: 1px !important;
        width: 2px !important;
      }
    }
  }
}

.board-game{
  float: left;
  width: 260px;
  @media all and (max-width: 600px){
    width: 100%;
  }
  .ngscroll-scrollbar-container{
    background: #807f81 !important;
    width: 4px !important;
    border-radius: 2px !important;
    .ngscroll-scrollbar{
      width: 2px !important;
      right: 1px !important;
    }
  }
}

.controls {
  display: inline-block;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 10px;
}

.controls button:first-child {
  margin-right: 10px;
}

.game-list{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leader-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .item {
    float: left;
    position: relative;
    height: 200px;
    // box-sizing: border-box;
    padding: 10px;
    // border-right: 1px dashed #ccc;
    width: 104px;
    &:hover{
      background: #e2e1e1;
      text-decoration: none;
    }
    @media all and (max-width: 600px){
      width: 50%;
      // height: 500px;
    }
    @media all and (max-width: 768px){
      width: 100%;
    }
  }
  .count{
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px #e96b4f solid;
    width: 30px;
    // height: 20px;
    text-align: right;
    font-size: 18px;
    color: #e96b4f;
  }
  .avatar{
    border-radius: 100%;
    margin-top: 30px;
  }
  .star{
    position: absolute;
    top: 100px;
    left: 0;
  }
  .name{
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
  .score{
    color: #000;
    font-size: 18px;
    text-align: center;
    background: #70d7fd;
    &.winner{
      font-size: 20px;
      color: #e96b4f;
    }
  }
}

.game-list{
  border-left:1px #000 solid;
  @media all and (max-width: 600px){
    border-left:none;
  }
  a{
    display: block;
    padding: 10px;
    // background: #f7f7f7;
    color: #99999a;
    font-size: 18px;
    padding: 4px 17px;
    text-transform: uppercase;
    border-bottom: 1px #a2a1a3 solid;
    &:hover{
      color: #e56d48;
      // background: #333;
      text-decoration: none;
    }
  }
}

@media all and (max-width: 600px){
  .mobile-non-relative{
    position: static !important;
  }
}
