<!DOCTYPE html>
<html lang="ru" ng-app="scrollbar">
  <head>
    <title>Angular game dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="site name">
    <meta property="og:url" content="test url">
    <meta property="og:title" content="test title">
    <meta property="og:description" content="test description">
    <meta property="og:image" content="image_url">
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link href="http://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="lib/css.modfiles/dist/modfiles.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"><!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="Automatic">
    <header class="main">
      <div class="container pr">
        <div class="row">
          <div class="col-xs-4">
            <h3 class="header-title"><a href="#">Leaderboard</a></h3>
          </div>
          <div class="col-xs-8 mobile-non-relative">
            <button type="button" class="mobile-button"><span></span><span></span><span></span></button>
            <ul class="menu-list">
              <li ng-repeat="key in responseData" ng-click="toggleTab($index)" class="{{(currentTab == $index)? 'active':''}}"><a href="#">{{key.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div ng-repeat="item in responseData" ng-show="currentTab == $index" class="container clearfix">
      <section class="board-main board-leader">
        <section ng-if="mobi" mb-scrollbar="scrollbar(horizontal(), true, true)" class="leader-list clearfix"><a href="#" ng-repeat="(key, val) in item.leader" class="item"><span class="count">{{val.count}}</span><img ng-src="{{val.avatar}}" class="avatar"><img ng-src="{{(val.count == 1)?'img/img_star_gold.png':''}}" ng-if="val.count == 1" class="star"><img ng-src="{{(val.count == 2)?'img/img_star_silver.png':''}}" ng-if="val.count == 2" class="star"><img ng-src="{{(val.count == 3)?'img/img_star_copper.png':''}}" ng-if="val.count == 3" class="star"><span class="db name">{{val.name}}</span><span class="{{(val.count == 1)?'db score winner':'db score'}}">{{val.score}}</span></a></section>
      </section>
      <section class="board-main board-game">
        <section ng-if="mobi" mb-scrollbar="scrollbar(&quot;vertical&quot;, true, true)" class="game-list">
          <ul class="lsn pl0 game-list mb0">
            <li ng-repeat="(key, val) in item.games"><a href="{{val.url}}">{{val.name}}</a></li>
          </ul>
        </section>
      </section>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="js/mb-scrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>