extends meta/_layout

block content
  section.main.controls
    button.btn.btn-primary(ng-click='addOne()') Add One
    button.btn.btn-danger(ng-click='removeOne()') Remove One
  section.main
    section.list(mb-scrollbar='scrollbar(horizontal(), true)')
      .item(ng-repeat='item in items')
        span.id {{item.id}}
        span.name {{item.name}}
        span.desc {{item.desc}}
  section.main
    section.list(ng-if='mobi', mb-scrollbar='scrollbar(horizontal(), true, true)')
      .item(ng-repeat='item in items')
        span.id {{item.id}}
        span.name {{item.name}}
        span.desc {{item.desc}}
