extends meta/_layout

block content
  header.main
    .container.pr
      .row
        .col-xs-6
          h3.header-title
            a(href="#") Leaderboard
        .col-xs-6.mobile-non-relative
          button(type="button").mobile-button
            span
            span
            span
          ul.menu-list
            li(ng-repeat="key in responseData" ng-click="toggleTab($index)" class="{{(currentTab == $index)? 'active':''}}")
              a(href="#") {{key.name}}

  .container(ng-repeat="item in responseData" ng-show="currentTab == $index")
    .row.row-empty
      .col-md-8
        section.board-main.board-leader
          section.list(ng-if='mobi', mb-scrollbar='scrollbar(horizontal(), true, true)')
            .item(ng-repeat="(key, val) in item.leader")
              img(ng-src="{{val.avatar}}")
              span {{val.name}}
              span {{val.count}}
              span {{val.score}}
      .col-md-4
        section.board-main.board-game
          section.list(ng-if='mobi', mb-scrollbar='scrollbar("vertical", true, true)')
            ul.lsn.pl0.game-list.mb0
              li(ng-repeat="(key, val) in item.games")
                a(href="{{val.url}}") {{val.name}}
